In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import sys

module_path = (Path().resolve().parent/ "Modules")
sys.path.append(str(module_path))

import my_modules, model_tuner # 自作モジュール

In [2]:
names = [
    "race_id",
    "year",
    "month",
    "day",
    "times",
    "place",
    "daily",
    "race_num",
    "horse",
    "jockey_id",
    "horse_N",
    "waku_num",
    "horse_num",
    "class_code",
    "track_code",
    "corner_num",
    "dist",
    "state",
    "weather",
    "age_code",
    "sex",
    "age",
    "basis_weight",
    "blinker",
    "weight",
    "inc_dec",
    "weight_code",
    "win_odds",
    "rank",
    "time_diff",
    "time",
    "corner1_rank",
    "corner2_rank",
    "corner3_rank",
    "corner4_rank",
    "last_3F_time",
    "last_3F_rank",
    "Ave_3F",
    "PCI",
    "last_3F_time_diff",
    "leg",
    "pop",
    "prize",
    "error_code",
    "father",
    "mother",
    "id"
]

In [3]:
df = pd.read_csv("../Data/record_data_2023.csv", encoding="shift-jis",header=None, names=names)
df.head()

,race_id,year,month,day,times,place,daily,race_num,horse,jockey_id,...,Ave_3F,PCI,last_3F_time_diff,leg,pop,prize,error_code,father,mother,id
0,202307220101010101,23,7,22,1,札幌,1,1,ウィスピースノー,1095,...,35.8,53.8,0.8,後方,5.0,55,0,ワールドエース,ハイリマイリ,2021100648
1,202307220101010102,23,7,22,1,札幌,1,1,ロードスタウト,1157,...,35.6,51.4,0.6,中団,7.0,0,0,ロードカナロア,フィラデルフィア,2021100159
2,202307220101010103,23,7,22,1,札幌,1,1,コミックガール,1197,...,35.6,50.8,0.6,中団,4.0,0,0,シルバーステート,コイクレナイ,2021100265
3,202307220101010104,23,7,22,1,札幌,1,1,デビルシズカチャン,5339,...,35.3,51.1,0.3,先行,3.0,83,0,ベストウォーリア,シシリアンブリーズ,2021105553
4,202307220101010105,23,7,22,1,札幌,1,1,サトミノキラリ,1170,...,35.2,52.6,0.2,先行,1.0,550,0,ビッグアーサー,パレード,2021101429

In [4]:
df = my_modules.common_process(df)

C:\Users\ken05\Documents\others\HORSE_RACING\Modules\my_modules.py:89: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_copy["place_num"] = df_copy["place"].replace(place_dict).astype(int)

In [5]:
df.head()

,year,month,day,times,place,daily,race_num,horse,jockey_id,horse_N,...,father,mother,id,id_for_fold,field_type,flat_or_jump,turn_type,race_type,datetime,target
19441,2023,1,5,1,中山,1,1,レディアス,1092,16,...,ジャスタウェイ,スキャットレディビーダンシング,2020102562,2023010506010101,ダート,平地,R,中山ダート1200,2023-01-05 01:02:00,0
19442,2023,1,5,1,中山,1,1,ラディーヴァ,1184,16,...,レッドファルクス,ディアデム,2020104817,2023010506010101,ダート,平地,R,中山ダート1200,2023-01-05 01:02:00,0
19456,2023,1,5,1,中山,1,1,ニシノスイセイ,1158,16,...,ストロングリターン,ニシノアストライア,2020105491,2023010506010101,ダート,平地,R,中山ダート1200,2023-01-05 01:02:00,0
19454,2023,1,5,1,中山,1,1,シュバルツガイスト,666,16,...,キタサンブラック,フリーティングスピリット,2020103575,2023010506010101,ダート,平地,R,中山ダート1200,2023-01-05 01:02:00,1
19453,2023,1,5,1,中山,1,1,タッカーカムカム,1173,16,...,ドレフォン,ラインキャメロン,2020104358,2023010506010101,ダート,平地,R,中山ダート1200,2023-01-05 01:02:00,0

In [6]:
df.race_type.unique()

array(['中山ダート1200', '中京ダート1800', '中山ダート1800', '中京ダート1200', '中京ダート1900',
       '中山芝1600', '中京芝2000', '中山芝2000', '中京ダート1400', '中京芝3000', '中京芝1600',
       '中山ダート2400', '中京芝1200', '中京芝2200', '中山芝1800', '中京芝1400', '中山芝2200',
       '中山芝1200', '小倉ダート1700', '小倉芝1200', '小倉ダート1000', '小倉芝2000',
       '小倉芝1800', '小倉芝2600', '東京ダート1400', '東京ダート1600', '東京芝1800',
       '東京芝1600', '東京ダート2100', '東京芝1400', '東京芝2000', '東京ダート1300',
       '東京芝2400', '小倉ダート2400', '阪神ダート1800', '阪神ダート1200', '阪神芝1600',
       '阪神ダート1400', '阪神芝1800', '阪神芝2000', '阪神ダート2000', '阪神芝2200',
       '阪神芝2400', '東京芝3400', '阪神芝1400', '阪神芝3000', '阪神芝1200', '中山芝2500',
       '阪神芝2600', '福島ダート1700', '福島芝1200', '福島芝2600', '福島ダート1150',
       '福島芝2000', '福島芝1800', '京都芝2000', '京都ダート1900', '京都芝1200', '京都芝2400',
       '京都ダート1400', '京都芝1800', '京都ダート1200', '京都ダート1800', '東京芝2300',
       '京都芝1600', '京都芝1400', '京都芝2200', '新潟ダート1800', '新潟ダート1200',
       '新潟芝2000', '新潟芝1000', '新潟芝1600', '新潟芝1200', '新潟芝1800', '新潟芝1400',
       '新潟芝2400', '京都芝3200', '新潟芝2200', '東京芝2500', '函館芝1200', '函館ダート1700',
       '函館ダート1000', '函館芝1800', '函館芝1000', '函館芝2000', '函館芝2600',
       '函館ダート2400', '札幌芝1200', '札幌ダート1000', '札幌ダート1700', '札幌芝1500',
       '札幌芝1800', '札幌芝2000', '札幌芝2600', '札幌ダート2400', '新潟ダート2500',
       '京都芝3000', '福島ダート2400', '中山芝3600', '中山ダート2500'], dtype=object)

In [7]:
grouped = df.groupby(["horse", "dist"], observed=True)["target"]
count = grouped.cumcount()
cumsum = grouped.cumsum()
df["win_rate_dist"] = (cumsum-df["target"]) / count.replace(0, np.nan)

In [8]:
df[df["win_rate_dist"] != 0]

,year,month,day,times,place,daily,race_num,horse,jockey_id,horse_N,...,mother,id,id_for_fold,field_type,flat_or_jump,turn_type,race_type,datetime,target,win_rate_dist
19441,2023,1,5,1,中山,1,1,レディアス,1092,16,...,スキャットレディビーダンシング,2020102562,2023010506010101,ダート,平地,R,中山ダート1200,2023-01-05 01:02:00,0,NaN
19442,2023,1,5,1,中山,1,1,ラディーヴァ,1184,16,...,ディアデム,2020104817,2023010506010101,ダート,平地,R,中山ダート1200,2023-01-05 01:02:00,0,NaN
19456,2023,1,5,1,中山,1,1,ニシノスイセイ,1158,16,...,ニシノアストライア,2020105491,2023010506010101,ダート,平地,R,中山ダート1200,2023-01-05 01:02:00,0,NaN
19454,2023,1,5,1,中山,1,1,シュバルツガイスト,666,16,...,フリーティングスピリット,2020103575,2023010506010101,ダート,平地,R,中山ダート1200,2023-01-05 01:02:00,1,NaN
19453,2023,1,5,1,中山,1,1,タッカーカムカム,1173,16,...,ラインキャメロン,2020104358,2023010506010101,ダート,平地,R,中山ダート1200,2023-01-05 01:02:00,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43864,2023,12,28,5,阪神,9,12,エイシンフェンサー,1095,16,...,エーシンパナギア,2020100105,2023122809050912,芝,平地,R,阪神芝1200,2023-12-28 12:03:00,0,0.428571
43866,2023,12,28,5,阪神,9,12,ミルトクレイモー,1174,16,...,ウートゥルメール,2020100815,2023122809050912,芝,平地,R,阪神芝1200,2023-12-28 12:03:00,0,0.250000
43867,2023,12,28,5,阪神,9,12,プロスペリダード,1116,16,...,ヴェスティージ,2020101792,2023122809050912,芝,平地,R,阪神芝1200,2023-12-28 12:03:00,0,0.750000
43869,2023,12,28,5,阪神,9,12,マイネルレノン,1199,16,...,コスモルーシー,2019100751,2023122809050912,芝,平地,R,阪神芝1200,2023-12-28 12:03:00,0,0.166667
43873,2023,12,28,5,阪神,9,12,スーサンアッシャー,660,16,...,オーティニャック,2019103898,2023122809050912,芝,平地,R,阪神芝1200,2023-12-28 12:03:00,0,NaN

In [9]:
def grouped_winning_rate(df, cols=None):
    if cols == None :
        print("Error: please select cols")
        return
    
    grouped = df.groupby(["horse", *cols], observed=True)["target"]
    cumsum = grouped.cumsum()
    count = grouped.cumcount()
    feature_name = "win_rate"
    for col in cols:
        feature_name = feature_name + "_" + col
    print(feature_name)
    df[feature_name] = (cumsum-df["target"]) / count.replace(0, np.nan)

    return df

In [21]:
df["last_race_date"] = df.groupby("horse", observed=True)["datetime"].shift(1)
df["interval"] = df["datetime"] - df["last_race_date"]
df["interval"] = df["interval"].dt.days

In [23]:
df["interval"].tail(20)

26750     47.0
26747     74.0
26746     54.0
26748     26.0
43862     18.0
43863     26.0
43864     40.0
43865     25.0
43866     67.0
43867     19.0
43868     18.0
43869    201.0
43871    347.0
43873     32.0
43874     26.0
43875    201.0
43876     47.0
43877     60.0
43870     32.0
43872    117.0
Name: interval, dtype: float64